---
interface Props {
    title: string;
    href?: string;
}
import {
  Tooltip,
  TooltipContent,
  TooltipProvider,
  TooltipTrigger,
} from "@/components/ui/tooltip"

import {ArrowRightIcon} from '@radix-ui/react-icons'

const {title, href} = Astro.props
---

<div class="my-4 flex justify-between items-center capitalize">
    {href ? (
        <h2 class="text-md font-semibold">
            <a href={href} class="hover:text-muted-foreground">{title}</a>
        </h2>
        <a href={href} class="font-normal text-muted-foreground hover:underline flex gap-4 items-center">
            <ArrowRightIcon />
        </a>
    ):(
        <h2 class="text-xl lg:text-6xl font-serif sfont-semibold bg-clip-text text-transparent bg-gradient-to-br from-zinc-900 to-slate-500">{title}.</h2>
    )}
</div>

